@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: rgb(244, 247, 254);
    --foreground: #262626;

    /* Background color for <Card /> */
    --card: #ffffff;
    --card-foreground: rgb(0, 0, 0, 0.5);

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: #bfbfbf;
    --muted-foreground: #ffffff;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: #ffffff;
    --popover-foreground: #262626;

    /* Primary colors for <Button /> */
    --primary: #ff6b00;
    --primary-foreground: #ffffff;

    /* Secondary colors for <Button /> */
    --secondary: #fbc095;
    --secondary-foreground: #ff6b00;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: #eeeeee;
    --accent-foreground: #262626;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: #f5222d;
    --destructive-foreground: #fafafa;

    /* Default border color */
    --border: #e8e5e3;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: #e8e5e3;

    /* Used for focus ring */
    --ring: #ff6b00;

    --normal: #808080;
    --warn: #f6c000;
    --bg-warn: #fff8dd;
    --error: #f5222d;
    --bg-error: #fff0f1;
    --success: #17c653;
    --bg-success: #dfffea;
    --incoming-success: #128c86;
    --bg-incoming-success: #cefaf8;
    --blue: #1b84ff;
    --bg-blue: #e9f3ff;
    --light-grey: #f2f2f2;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }

  .dark {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* Background color for <Card /> */
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    /* Default border color */
    --border: 214.3 31.8% 91.4%;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 214.3 31.8% 91.4%;

    /* Primary colors for <Button /> */
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    /* Secondary colors for <Button /> */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    /* Used for focus ring */
    --ring: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply bg-background text-foreground;
    min-height: 100%;
    max-width: 100vw;
  }

  body {
    padding: 0 0 30px 0;
    letter-spacing: -0.3px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    font-family:
      open sans,
      Helvetica,
      Arial,
      sans-serif;
  }
}

@layer components {
  .social-icons {
    @apply h-[24px] w-[24px] text-foreground;
  }
}
